@font-face {
    font-family: KronaOne;
    src: url(./fonts/KronaOne-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Montserrat;
    height: 100%;
    /*cursor: url(./img/cursor.png), default;*/
    scroll-behavior: smooth;
}

body {
    background-color: #F2F3F4;
    color: #031F1C;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    max-width: 1440px;
    margin: 40px auto 0px auto;
    padding: 0px 80px;
}

a {
    display: inline-block;
    position: relative;
    background: transparent;
    text-decoration: none;
    color: #031F1C;
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
    border: 0;
    transition: all 0.3s ease-in-out 0s, visibility 0s;
}

button {
    text-transform: none;
    overflow: visible;
    border: none;
    cursor: pointer;
    margin: 0;
    outline: none;
    padding: 0;
    background: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.hover::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #031F1C;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-link li {
    display: inline-block;
    margin-left: 32px;
    text-decoration: none;
}


.logo-luanafaustini {
    font-family: KronaOne;
    font-size: 24px;
    text-decoration: none;
}

/*Font Styles*/
h1 {
    font-family: KronaOne;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    margin: 0px;
}

h2 {
    font-family: KronaOne;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin: 0px 0px 16px 0px;
}

h3 {
    font-family: KronaOne;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
}

p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    padding-bottom: 8px;
}

.p-bold {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    padding-bottom: 8px;
}

.label {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}

.section-title {
    font-family: KronaOne;
    font-size: 96px;
    font-weight: 400;
    line-height: 120px; 
    text-align: left;
    color: rgba(193, 193, 193, 0.5);
}

/*End Font Styles*/

.color-difference {
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.color-difference.blend {
    mix-blend-mode: difference;
}

.color-difference a {
    display: inline-block;
    position: relative;
    background: transparent;
    text-decoration: none;
    color: #F2F3F4;
    cursor: pointer;
}

.noise {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    overflow: hidden;
    position: fixed;
}

.noise::after {
    top: -30rem;
    left: -30rem;
    width: calc(100% + 60rem);
    height: calc(100% + 60rem);
    content: "";
    position: absolute;
    animation-name: animation;
    animation-duration: 1s;
    animation-timing-function: steps(2);
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    background-image: url(./img/noise.png);
    background-position: 50%;
}

@keyframes animation {
    0% { transform: translate(0,0); }
    10% { transform: translate(-5%,-5%); }
    20% { transform: translate(-10%,5%); }
    30% { transform: translate(5%,-10%); }
    40% { transform: translate(-5%,15%); }
    50% { transform: translate(-10%,5%); }
    60% { transform: translate(15%,0); }
    70% { transform: translate(0,10%); }
    80% { transform: translate(-15%,0); }
    90% { transform: translate(10%,5%); }
    100% { transform: translate(5%,0); }
}

.section {
    max-width: 1440px;
    padding: 0px 80px;
    margin: 0px auto 120px auto;
}

.section-presentation {
    /*height: calc(100vh - 88px - 240px);*/
    margin: 240px 200px 200px 188px;
}

.section-presentation h1 {
    max-width: 956px;
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
}

.project-content {
    padding-right: 40px;
    max-width: 33.33%;
}

.project-title {
    margin: 16px 0px 24px 0px;
}

.project-description {
    margin-bottom: 16px;
}

.project-image {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 50%;
    height: auto;
}

.project-content-small {
    width: 33.333%
}

.project-image-small {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
    margin-bottom: 24px;
}

.grid-container {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 40px;
    margin-bottom: 80px;
    gap: 24px;
}

.grid-container ul {
    padding-left: 16px;
    list-style: none;
}

.grid-container li {
    padding-bottom: 8px;
}

.about-image {
    padding-right: 40px;
    position: relative;
    max-width: 33.33%;
    height: auto;
}

.about-content {
    max-width: 50%;
}

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 120px;
    padding: 0;
    max-width: 800px;
}

.testimonial-content {
    position: relative;
}

.slide p {
    text-align: center;
    padding: 0px 16px;
    margin-bottom: 40px;
}

/* ----- carousel content stylings ----- */
/* places the carousel content on center of the carousel */
.carousel-content {
    position: absolute;
    /*to center the content horizontally and vertically*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
}
/*----- end of carousel content stylings ----- */

/* ----- slideshow stylings ----- */
.slideshow {
    height: 100%;
    overflow: hidden; /* to hide slides in x-direction */
    position: relative;
}
/* wrapper which wraps all the slideshow images stylings */
.slideshow-wrapper {
    display: flex;
    /* We give it width as 400% because we are making a 
       4 image carousel. If you want to make for example, 
       5 images carousel, then give width as 500%. */
    width: 300%;
    height: 100%;
    position: relative;
    /* you can change the animation settings from below */
    animation: slideshow 20s infinite;
 }
/* define width and height for images*/
.slide {
    width: 100%;
    height: 100%;
}

/* @keyframes are used to provide animations
   We make these settings for 4 image carousel.
   Make modification according to your needs.*/
@keyframes slideshow {
    0%  { left: 0; }
    10% { left: 0; }
    15% { left: 0; }
    25% { left: -100%; }
    30% { left: -100%; }
    40% { left: -100%; }
    45% { left: -200%; }
    55% { left: -200%; }
    60% { left: -200%; }
    70% { left: -100%; }
    75% { left: -100%; }
    85% { left: -100%; }
    90% { left: 0; }
}

footer {
    background-color: #ffffff;
    margin-bottom: 0px !important;
}

.contact {
    max-width: 1440px;
    margin: 80px auto 0px auto;
    padding: 80px 120px;
}

.contact-title {
    max-width: 33.33%;
    margin-bottom: 40px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer#contact ul.links li {
    display: inline;
    line-height: 32px;
}

footer#contact ul.links li::after {
    content: "·";
    padding: 0 .35em 0 .5em;
}

footer#contact ul.links li.last::after {
    content: none;
    padding-right: 0;
}

footer#contact .signature {
    text-align: right;
    font-size: 12px;
}

/*Subpage Project Specificities*/

.section-margin-top {
    margin-top: 120px;
}

.comp-title-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
}

.subcomp-text {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 50%;
    height: auto;
    flex-direction: column;
}

.project-subpage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
}

.full-width {
    background-color: #ffffff;
    max-width: 1280px !important;
    margin: auto 40px;
    z-index: 10;
    position: relative;
}

.full-width-content-box {
    max-width: 800px;
    margin: 80px auto;
    padding: 80px 0px;
}

.quote {
    text-align: center;
}

.quote h3 {
    margin-top: 16px;
}

.comp-full-width-image {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 80px;
    z-index: 10;
    position: relative;
}

section.comp-full-width-image img {
    width: 100%;
    height: auto;
}

.comp-image-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 80px;
    z-index: 10;
    position: relative;
}

.comp-image-row img {
    max-width: 20%;
}

section.comp-image-row img {
    width: 100%;
    height: auto;
    margin-bottom: 80px;
}




/*Mobile Breakpoint*/
@media only screen and (max-width: 767px){
    h1 {
        font-size: 24px;
        line-height: normal;
    }
    
    h2 {
        font-size: 20px;
        line-height: normal;
    }

    h3 {
        font-size: 16px;
        line-height: normal;
    }
    
    .section-title {
        font-size: 54px;
        line-height: normal;
    }

    button {
        text-decoration: underline solid 2px;
    }

    header {
        margin-top: 20px;
        padding: 0px 20px;
    }

    .color-difference {
        flex-direction: row;
        flex-wrap: wrap;
    }

    header .nav-link {
        width: 100%;
        margin-top: 16px;
    }

    header ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    header li.first {
        margin-left: 0px;
    }

    .section {
        padding: 0px 20px;
        margin: 0px auto 80px auto;
    }

    .section-presentation {
        margin: 200px auto 160px auto;
    }

    .project {
        padding-left: 0px;
        padding-right: 0px;
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
        margin-bottom: 64px;
    }

    .project-content {
        max-width: 100%;
        padding-right: 0px;
    }

    .project-content-small {
        width: 100%;
        padding-right: 0px;
        padding-bottom: 40px;
    }

    .project-title {
        margin: 16px 0px;
    }

    .project-image {
        max-width: 100%;
        padding-bottom: 16px;
    }

    .project-description {
        margin-bottom: 16px;
    }

    .grid-container {
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;;
    }

    .grid-container ul {
        padding-bottom: 24px;
    }

    .about-content {
        max-width: 100%;
    }

    .about-image {
        max-width: 100%;
        padding: 24px 0px 0px 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .testimonial-content {
        width: 100%;
    }

    .slide p.label {
        margin-bottom: 0px;
    }

    .contact {
        padding: 40px 20px;
    }

    .contact-title {
        max-width: 100%;
    }

    footer#contact {
        text-align: center;
    }

    footer#contact ul.links{
        margin-bottom: 40px;
        width: 100%;
    }

    footer#contact .signature {
        text-align: center;
        width: 100%;
    }

    .comp-title-text {
        flex-direction: column;
        margin-bottom: 64px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .subcomp-text {
        max-width: 100%;
    }

    .project-subpage {
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 64px;
    }

    .full-width {
        margin: auto;
    }

    .full-width-content-box {
        width: 100%;
        margin: 40px auto;
        padding: 40px 20px;
    }

    .comp-full-width-image {
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 64px;
    }

    .comp-image-row {
        flex-direction: column;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 64px;
    }
    
    .comp-image-row img {
        max-width: 80%;
        padding-bottom: 24px;
    }

}

/*Tablet Breakpoint*/
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    h1 {
        font-size: 24px;
        line-height: normal;
    }
    
    h2 {
        font-size: 20px;
        line-height: normal;
    }

    h3 {
        font-size: 16px;
        line-height: normal;
    }
    
    .section-title {
        font-size: 54px;
        line-height: normal;
    }

    button {
        text-decoration: underline solid 2px;
    }

    header {
        padding: 0px 20px;
    }

    .section {
        padding: 0px 20px;
        margin: 0px auto 80px auto;
    }

    .section-presentation {
        margin: 200px 20px 80px 20px;
    }

    .project {
        padding-left: 20px;
        padding-right: 20px;
    }

    .project-content {
        padding: 0px 40px 0px 0px;
    }

    .project-image {
        max-width: 60%;
    }

    .project-title {
        margin: 16px 0px;
    }

    .project-description {
        margin-bottom: 16px;
    }

    .grid-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .about-image {
        max-width: 100%;
    }

    .full-width-content-box {
        padding: 80px 20px;
    }

}