body {
  background-color: #708090;
  color: #400080;
  font-family: "Lato";
}

a:visited, a:link, a:active {
  color: #800080;
  transition: ease-in-out 0.2s;
  text-shadow: 0.06em 0 0.5px;
}

a:hover {
  color: #00FF7F;
  text-shadow: -0.06em 0 0.5px;
}

.topbar {
  text-align: center;
  padding: 0;
  margin: 0;
}

.content {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  max-width: 90%;
}

.port_img {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.port_img img {
  width: 100%;
  transition: ease-in-out 0.2s;
}

h1 {
  text-align: center;
  color: #400080;
  text-shadow: -0.06em 0 0.5px rgba(128, 0, 64, 1);
}

