:root {
  --dark-grey: #111109;
  --light-grey: #c2c2c2;
  --alt-grey: #a59b9b;
  --ciano: #049e90;
  --red: #931a1d;
}

body {
  background-color: var(--dark-grey);
  color: var(--ciano);
  font-family: Verdana, Arial, sans-serif;
  text-align: center;
	margin-top: 150px;
	margin-left: 50px;
	margin-right: 50px;
}

a:visited, a:link, a:active {
  color: var(--red);
  text-decoration: none;
  transition: ease-in-out 0.2s;
  text-shadow: 0.06em 0 0px;
}

a:hover {
  color: var(--ciano);
  text-shadow: -0.06em 0 0px;
}

.topbar {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.area {
   align-items: center;
   justify-content: center;
   height: 100%;
   margin-bottom: 3em;
}

.container {
  display: inline-block;
  margin: 10px auto;
}

.port_img {
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.port_img img {
  transition: ease-in-out 0.2s;
}

.port_img img:hover {
  filter: hue-rotate(180deg);
  transform: translateY(-8pt);
}

.demo {
  width: 300px;
  height: 300px;
  border: 1px solid transparent;
}

.port_full {
  width: 842px;
}

.container_fontawesome {
  display: inline-block;
  margin: 10px auto;
  height: 75px;
  width: 100px;
}

.container_fullscreen {
  width: 960px;
  margin: 0px auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.fontawesome {
  border: 1px solid transparent;
  width: 200px;
  height: 100px;
}

h1 {
  text-align: center;
  color: var(--light-grey);
}

h4 {
  text-align: center;
  color: var(--light-grey);
}

h5 {
  text-align: center;
  color: var(--light-grey);
}

@media all and ( max-width: 920px ) {
div{
width: 610px;
	}
.topbar {
	margin-top: 100px;
	margin-left: 0px;
	margin-right: 0px;
	}
.area {
	margin-left: 0px;
	margin-right: 0px;
	}
.port_full {
width: 610px;
}
}
@media all and ( max-width: 610px ) {
div {
width: 300px;
	}
.topbar {
	margin-top: 100px;
	margin-left: 0px;
	margin-right: 0px;
	}
.area {
	margin-left: 0px;
	margin-right: 0px;
	}
.port_full {
width: 300px;
}
}
